<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/select.css}" rel="stylesheet" type="text/css" />
		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.idTabs.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/select-ui.min.js}"></script>
		<script type="text/javascript">
			$(function(){
				$(".querybtn").click(function(){
					var titleName =  $("#queryTitleName").val();
					$.post({
						url:"/title/queryAll",
						data:{"titleName":titleName},
						success:function(data){
							$(".bodydata").remove();
							$(".tb").remove();
						$.each(data,function(i,title){
							$(".tablelist").append(
									"<tbody class='bodydata'>"+
									"<tr >"+
									"<td><input name='' type='checkbox' value='' /></td>"+
									"<td>"+title.id+"</td>"+
									"<td>"+title.titleName+"</td>"+
									"<td>"+title.baseSalary+"</td>"+
									"<td>"+title.dept.deptName+"</td>"+
									"<td>"+
										"<a href='/title/tomodify?id="+title.id+"' class='tablelink'>修改</a>&nbsp;&nbsp;"+
										"<a href='/title/remove?id="+title.id+"' class='tablelink' onclick='return confirm(\"确定删除吗?\")'>删除职位</a>"+
									"</td>"+

									"</tr>"+
									"</tbody>"
								);
							});
						},
						dataType:"json"
						
					});
				});
			});
		</script>

	</head>

	<body>

		<div class="place">
			<span>位置:</span>
			<ul class="placeul">
				<li>
					<a href="#">职位管理</a>
				</li>
				<li>
					<a th:href="@{/title/titlelist}">职位列表</a>
				</li>
			</ul>
		</div>

		<div class="rightinfo">

			<div class="tools" style="background-color: #949494;">

				<div class="queryform" style="background-color: dark;">
					<label class="" for="queryDepartmentName">职位名称</label>
					<input id="queryTitleName" type="text"  class="queryinput" />
					<input type="button" class="querybtn" value="查询"/>
				</div>
				
			<!--	<div style="background-color: magenta;float: right;">
					asdfasdfasdf
					asdfasdfasdf
					asd
					asdfasdfasdfasdf
					asdfasdfasdf
					asdf
					asdfasdf
				</div>
			-->
			</div>

			<table class="tablelist" >
				<thead>
					<tr>
						<th><input name="" type="checkbox" value="" checked="checked" /></th>
						<th>序号</th>
						<th>职位名称</th>
						<th>基础工资</th>
						<th>所属部门</th>
					<!-- 	<th>发布时间</th>
						<th>是否审核</th>-->
						<th>操作</th> 
					</tr>
				</thead>
				<tbody  class="tb">
					<tr th:each="title,status :${list}">
						<td><input name="" type="checkbox" value="" /></td>
						<td th:text="${status.count}">1</td>
						<td th:text="${title.titleName}">销售员</td>
						<td th:text="${title.baseSalary}">4500</td>
						<td th:text="${title.dept.deptName}">销售部</td>
						<!-- <td>2013-09-09 15:05</td>
						<td>已审核</td> -->
						<td>
							<a th:href="@{/title/tomodify(id=${title.id})}" class="tablelink">修改</a>
							<a th:href="@{/title/remove(id=${title.id})}" class="tablelink" onclick="return confirm('确定删除吗?')">删除</a>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="pagin">
				<div class="message">共<i class="blue">1256</i>条记录，当前显示第&nbsp;<i class="blue">2&nbsp;</i>页</div>
				<ul class="paginList">
					<li class="paginItem">
						<a href="javascript:;"><span class="pagepre"></span></a>
					</li>
					<li class="paginItem">
						<a href="javascript:;">1</a>
					</li>
					<li class="paginItem current">
						<a href="javascript:;">2</a>
					</li>
					<li class="paginItem">
						<a href="javascript:;">3</a>
					</li>
					<li class="paginItem">
						<a href="javascript:;">4</a>
					</li>
					<li class="paginItem">
						<a href="javascript:;">5</a>
					</li>
					<li class="paginItem more">
						<a href="javascript:;">...</a>
					</li>
					<li class="paginItem">
						<a href="javascript:;">10</a>
					</li>
					<li class="paginItem">
						<a href="javascript:;"><span class="pagenxt"></span></a>
					</li>
				</ul>
			</div>

		</div>

		<script type="text/javascript">
			$('.tablelist tbody tr:odd').addClass('odd');
		</script>

	</body>

</html>